@use "../abstracts/mixins" as mix;
@use "../base/variables" as var;

#favorite-button-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#favorite-button {
  &:hover {
    cursor: pointer;
  }
  background-color: var.$primary-magenta;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  outline: none;

  i {
    color: white;
    font-size: 1.8rem;
  }
}
