@use "../abstracts/mixins" as mix;
@use "../base/variables" as var;

.hero {
  @include mix.flex-column-center;

  @include mix.respond-to(medium) {
    min-height: 400px;

    .hero__title {
      font-size: 3rem;
    }
  }

  background-image: url("/src/public/images/heros/hero-image_1.jpg");
  min-height: 300px;
  background-size: cover;
  background-position: top;

  &__title {
    @include mix.gray-text-shadow;
    text-align: center;
    font-size: 2.5rem;
    color: var.$primary-white;
  }

  &__badge {
    background-color: var.$primary-purple;
    border-radius: 100px;
    color: var.$primary-white;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
}
