<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header class="header">
      <p class="header__brand-name"></p>
      <nav class="header__nav">
        <a href="/">Home</a>
        <a href="#">Favorite</a>
        <a href="https://nouvalrz.tech">About Us</a>
      </nav>
    </header>

    <main>
      <section class="hero">
        <h1 class="hero__title">Hero Placeholder</h1>
      </section>

      <section class="restaurant-list">
        <h2 class="restaurant-list__title"></h2>
        <div class="restaurant-list__contents">
          <article class="restaurant-card">
            <img src="" alt="" class="restaurant-card__image">
            <p class="restaurant-card__rating"></p>
            <h3 class="restaurant-card__title"></h3>
            <p class="restaurant-card__desc"></p>
          </article>
        </div> 
      </section>
    </main>

    <footer>
      <p>© 2024 Restaurant Apps</p>
    </footer>
  </body>
</html>
