$primary-purple: #4845f5;
$dark-purple: #292871;
$secondary-purple: #666684;
$light-purple: #f4f4fc;
$outline-purple: #e9e9fd;

$outline-gray: #eaeaef;
$primary-white: #fff;

$primary-magenta: #8c3fd6;





