$primary-purple: #4845f5;
$dark-purple: #292871;
$secondary-purple: #666684;
$light-purple: #f6f6fe;
$outline-purple: #e9e9fd;

$light-gray: #b1b1c8;
$outline-gray: #eaeaef;
$primary-white: #fff;

$primary-magenta: #8c3fd6;
